/_build/
/cover/
/deps/
/doc/
/.fetch
erl_crash.dump
*.ez
chatpi-*.tar
/priv/static/
.env*
/config/*.secret.exs
/.elixir_ls
db
*.ez
.DS_Store
.git
Dockerfile
docker-compose.yml
.gitignore
LICENCE
readme.md
